{% extends 'base_staff.html' %}

{% block content %}
{% for messages in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{messages}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if user_name %}
        <h1>Staff {{user_name}} has been granted {{p_type}} permission</h1>

{% else %}
    <h1>Grant Permission</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method = "POST">
            {{ form.hidden_tag()}}
            <h5>User Name:</h5>
            {{ form.user_name(class="form-control") }}
            <br/>
            <h5>Permission Type:</h5>
            {{ form.p_type(class="form-control") }}
            <br/>

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endif %}        
{% endblock %}
