{% extends 'base.html' %}

{% block content %}
{% if email %}
    {% if email == 'exist' %}
        <h1>Oops !</h1>
        <h4>This email address has been registered</h4>
        <h4>Please try another email or Login</h4>
    {% else %}
        <h1>Welcome {{name}}!</h1>
        <h4> You have successfully regeistered with email : {{email}} </h4>
        <h4> You can try login now :) </h4>
    {% endif %}
{% else %}

    <h1>Customer Register:</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body rounded">
    <form method = "POST">
        {{ form.hidden_tag() }}
        <h2>Basic Information:  </h2>
        <br/>

        <h4>Name: </h4>
        {{ form.name(class="form-control") }}
        <br/>

        <h4>Email:  </h4>
        {{ form.email(class="form-control") }}
        <br/>        

        <h4>Phone Number:  </h4>
        {{ form.phone_num(class="form-control") }}
        <br/>        

        <h4>Birth(yyyy-mm-dd) :  </h4>
        {{ form.birth(class="form-control") }}
        <br/>        

        <h4>Set Password:  </h4>
        {{ form.password(class="form-control") }}
        <br/>
        
        <h4>Confirm Password:  </h4>
        {{ form.confirm_password(class="form-control") }}
        <br/>

        <h2>Address:  </h2>
        <br/>

        <h4>Building Number:  </h4>
        {{ form.building_num(class="form-control") }}
        <br/>

        <h4>Street:  </h4>
        {{ form.street(class="form-control") }}
        <br/>

        <h4>City:  </h4>
        {{ form.city(class="form-control") }}
        <br/>

        <h4>State:  </h4>
        {{ form.state(class="form-control") }}
        <br/>

        <h2>Passport Information:  </h2>
        <br/>

        <h4>Passport Number:  </h4>
        {{ form.passport_num(class="form-control") }}
        <br/>

        <h4>Passport Expiration(yyyy-mm-dd):  </h4>
        {{ form.passport_exp(class="form-control") }}
        <br/>

        <h4>Passport Country:  </h4>
        {{ form.passport_country(class="form-control") }}
        <br/>

        {{ form.submit(class="btn btn-primary") }}
    </form>
    </div>
{% endif %}
{% endblock %}
