{% extends 'base_staff.html' %}

{% block content %}

    <h1>The top booking agent work for the airline</h1>

    <h5>Top 5 booking agents for past month (base on ticket number)</h5>
    <table class="table table-hover table-bordered table-striped">
        <tr><td>Email</td><td>Trip Count</td>
        </tr>
        {% for d in data1 %}
            <tr>
            <td><a href = "{{ url_for('customer_detail', email = d.email) }}">{{d.email}}</a></td><td>{{d.num}}</td>
            </tr>
        {% endfor %}
    </table>    

{% endblock %}
