{% extends 'base_staff.html' %}

{% block content %}

    <h1>The top booking agent work for the airline</h1>

    <h5>Top 5 booking agents for past month (base on ticket number)</h5>
    <table class="table table-hover table-bordered table-striped">
        <tr><td>Email</td><td>Ticket Amount</td>
        </tr>
        {% for d in data1 %}
            <tr>
            <td>{{ d.email }}</td><td>{{d.num}}</td>
            </tr>
        {% endfor %}
    </table>    
</br>
    <h5>Top 5 booking agents for past year (base on ticket number)</h5>
    <table class="table table-hover table-bordered table-striped">
        <tr><td>Email</td><td>Ticket Amount</td>
        </tr>
        {% for d in data2 %}
            <tr>
            <td>{{ d.email }}</td><td>{{d.num}}</td>
            </tr>
        {% endfor %}
    </table>    
</br>
    <h5>Top 5 booking agents for past year (base on commission)</h5>
    <table class="table table-hover table-bordered table-striped">
        <tr><td>Email</td><td>Ticket Amount</td>
        </tr>
        {% for d in data3 %}
            <tr>
            <td>{{ d.email }}</td><td>{{d.commission}}</td>
            </tr>
        {% endfor %}
    </table>    

{% endblock %}
